 *{
    padding: 0;
    margin: 0;
}

body, #sidebar, #content, #main {
    height: 100vh;
    width: 100vw;
}

#AddNewTask-modal, #EditPriority-modal, #EditDueDate-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#project-discription {
    resize: none;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

#sidebar {
    display: flex;
    /* flex: row; */
    flex-direction: column;
    max-width: 20%;
    min-width: 10%;
    justify-content: flex-start;
    align-items: flex-start;

}

#content {
    display: flex;
    flex-direction: column;

    /* grid-row: 200px; */

}

#content-container {
    width: 100%;
    height: 100%;
}

#today, #week, #tomorrow {
    overflow: hidden;
}

.laterTasks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#today {
    width: 100%;
    height: 50%;
}

#tomorrow, #week {
    width: 50%;
    height: 100%;
}